<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <h2>Picture Perfect</h2>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
          Location
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <span id="locations">
                {% for location in locations %}
                    <a class="btn btn-outline-info btn-sm" id="btn"
                       href="/location/{{location.name}}">{{location.name}}</a>
                {%endfor%}
             </span>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
          Category
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <span id="locations">
                {% for category in category %}
                    <a class="btn btn-outline-info btn-sm" id="btn"
                       href="/category/{{category.name}}">{{category.name}}</a>
                {%endfor%}
             </span>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" action="{% url 'search' %}" method=POST>
      {% csrf_token %}
      <input class="form-control mr-sm-2" name="searched" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>